<div class="row">
  <div class="card">
    <div class="card-header" i18n>Tree Viewer</div>
    <div class="card-body">
      <tree-root *ngIf="nodes" [nodes]="nodes" [options]="treeOptions">
        <ng-template #loadingTemplate>
          <i [ngClass]="[icons.spinner, icons.spin]"></i>
        </ng-template>
      </tree-root>
      <!-- Display the presigned URL -->
      <img *ngIf="presignedUrl" [src]="presignedUrl" alt="Presigned Content">
      <!-- Or if it's a downloadable file -->
      <a *ngIf="presignedUrl" [href]="presignedUrl">Download File</a>
    </div>
  </div>
</div>
: