<div class="row">
  <div class="col-sm-4 pe-0">
    <div class="card">
      <div class="card-header" i18n>Tree Viewer
        <button type="button" [class.disabled]="loadingIndicator" class="btn btn-light pull-right"
          (click)="refreshAllHAcls()">
          <i [ngClass]="[icons.large, icons.refresh]" [class.fa-spin]="loadingIndicator"></i>
        </button>
      </div>
      <div class="card-body">
        <tree-root *ngIf="nodes" [nodes]="nodes" [options]="treeOptions">
          <ng-template #loadingTemplate>
            <i [ngClass]="[icons.spinner, icons.spin]"></i>
          </ng-template>
        </tree-root>
      </div>
    </div>
  </div>

  <!-- Selection details -->
  <div class="col-sm-8 metadata">
    <!-- 선택된 노드의 정보를 표시하는 부분 -->
    <div *ngIf="selectedNode" class="card">
      <div class="card-header">
        {{ selectedNode.data.name }} <!-- 선택된 노드의 이름 -->
      </div>
      <div class="card-body">
        <p><strong>Name:</strong> {{ selectedNode.data.name }}</p>
        <ng-container *ngIf="selectedNode.data.permission">
          <legend i18n>Permission Details:</legend>
          <cd-table [data]="selectedNode.data.permission"
                    [columns]="columns"
                    [toolHeader]="false">
          </cd-table>
        </ng-container>
      </div>
    </div>
  </div>
</div>